 {%extends 'base.html'%}
{%block content %}
{%include "navbar.html"%}
{% for image in images %}
<div class="container">
<div class="card carding" style="width: 50rem;">
    <h5 class="card-header">{{user.username}}</h5>
  <img src="{{image.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="icons">
      <div><i class="far fa-heart fa-2x heart"></i></div>
      <script>
        $(document).ready(function(){
          $(".heart").click(function(){
            alert("You have just liked this Image!")
          })
        })
      </script>
      <div><i class="far fa-comment fa-2x"></i></div>
      <div><i class="fas fa-paper-plane fa-2x"></i></div>
      
    </div>
    
    <p class="card-text">{{image.caption}}</p>
    <p class="card-text text-muted">{{image.date_uploaded}}</p>
  
  </div>
</div>
</div>
{%endfor%} 

{%endblock content%}